/**
  Main.css
  
  Main css template for Image Viewer
**/

.AMIImg {
  width:500px;
  height:300px;
}

.AMIImgCurrent {
  border: 10px solid black;
}

.AMINext {
  background-color:black;
  border-radius:5px;
}

.AMIPrev {
  background-color:black;
  border-radius:5px;
}
